<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>
<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

Options -Indexes

RewriteEngine On
RewriteRule ^index\.html$ index.php
RewriteRule ^([a-z]+)/?$ index.php?action=$1
RewriteRule ^([a-z]+)/public/(.*)$ public/$1
RewriteRule ^view/([0-9])$ index.php?action=view&id=$1 [L]