* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
}

/* HOME  */
#home-header {
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 80px;
}

#bloc-page {
    background-size: cover;
    background-image: linear-gradient(to right, transparent, rgb(220, 234, 235, 0.4)),
    url(https://alanbeaucheron.ovh/projet4/public/images/fond.jpg);
}

article, p {
    background-color: white !important;
    padding: 10px;
    border-radius: 15px;
}



/* Formulaire de commentaire */

#comments {
    padding-top: 30px;
    padding-bottom: 30px;
}

#comment-form {
    padding-bottom: 30px;
}

#view-article {
    margin-right: 120px;
    margin-left: 120px;
}

#view-header > .container {

    margin-top:55px;
}


/*  BIOGRAPHIE  */

.container-fluid > .row > .col-5 > .img-fluid {

    padding-top: 10%;
}


#biographie-header {
    padding-top: 65px;
}

#biographie-article {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 6%;
    margin-top: 2%;
}

/* COMMENTAIRES */ 

.bg-comment {

    background-color: royalblue;
}

/* Login */ 

 #login-form {
    height: 936px;
    padding-top: 15%;
}

#form-login > .form-group {
    text-transform: uppercase;
}

/* error */

#error-header > .container {
    height: 936px;
    margin-top: 56px;
    padding-top: 15%;
}

/* footer */

.footer {
    padding-top: 15px;
}