* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
}

/* HOME  */
#home-header {
    margin-top: 30px;
    padding-top: 100px;
}

#bloc-page {
    background-size: cover;
    background-image: linear-gradient(to right, transparent, rgb(220, 234, 235, 0.4)),
    url(https://alanbeaucheron.ovh/projet4/public/images/fond.jpg);
}

article, p {
    background-color: white !important;
    padding: 10px;
    border-radius: 15px;
}



/* Formulaire de commentaire */

#comments {
    padding-top: 30px;
    padding-bottom: 30px;
}

#comment-form {
    padding-bottom: 30px;
}

#view-header {
    padding-top: 100px;
}

#view-header > .container {

    margin-top:55px;
}


/*  BIOGRAPHIE  */

.container-fluid > .row > .col-5 > .img-fluid {

    padding-top: 10%;
}


#biographie-header {
    padding-top: 130px;
}

#biographie-article {
    margin-bottom: 6%;
    margin-top: 2%;
}

/* COMMENTAIRES */ 

.bg-comment {
    background-color: #b7b8b9;
}

.btnReport {
    margin-top: 5px !important;
}

.comment {
    border: 1px solid #b7b8b9;
    padding-bottom: 10px; 
    padding-left: 10px;
}

/* Login */ 

 #login-form {
    height: 936px;
    padding-top: 15%;
}

#form-login > .form-group {
    text-transform: uppercase;
}

/* error */

#error-header > .container {
    height: 936px;
    margin-top: 56px;
    padding-top: 15%;
}

/* footer */

.footer {
    padding-top: 15px;
}

/* MEDIA QUERIES */
/* Ajustement pour les différents écrans */

@media only screen and (min-width:300px) and (max-width: 400px) {
    #login-form {
        padding-top: 75%;
    }

    #table-blogspots {
        font-size: 10px;
    }

    tbody > td > .btn {
        font-size: 0.5rem;
    }

    .table-responsive {
        font-size: 10px;
    }
}

@media only screen and (min-width:401px) and (max-width: 650px) {
    #login-form {
        padding-top: 55%;
    }
}


@media only screen and (min-width:651px) and (max-width: 748px) {
    #login-form {
        padding-top: 40%;
    }
}

@media only screen and (min-width:749px) and (max-width: 849px) {

    #login-form {
        padding-top: 30%;
    }
}


@media only screen and (min-width:850px) and (max-width: 1024px)
{
    #login-form {
        padding-top: 30%;
    }
}