* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
}

#home-header {
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 80px;
}

#bloc-page {
    background-image: url(https://alanbeaucheron.ovh/projet4/public/images/fond.jpg);
    background-size: cover;
}

article, p {
    background-color: white !important;
    padding: 5px;
    border-radius: 15px;
}